doctype html
html
  head
    meta(charset="utf-8")
    title= QubeeCon
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet",href="bootstrap_combined_no_icons.min.css")
    link(rel='stylesheet', href='style.css')
    script(src='jquery.js')
    script(src='bootstrap.js')


  body
    div(class="navbar navbar-inverse navbar-fixed-top")
        div(class="navbar-inner")
          div(class="container")
            button(type="button",class="btn btn-navbar",data-toggle="collapse",data-target=".nav-collapse")
              span(class="icon-bar")
              span(class="icon-bar")
              span(class="icon-bar")

            a(class="brand",href="#") QubeeCon
            div(class="nav-collapse collapse",style="height: 0px")
              ul(class="nav")
                li(class="active")
                  a(href="/") Home
                li
                  a(href="/login") Login
                li
                  a(href="/register") Register



  .container
    div(class="row-fluid heading")
      div(class="span12")
        h1 Welcome to Qubee Conferencing center.
    div(class= "row-fluid subheading")
        p.lead Are are pleased to present a state of the art video Conferencing Soltion. Please login/register to join your conference.
    br
    div(class="row-fluid") 
      div(class ="span12")
        div(class="span7")
           img(class="img-polaroid" src="image.jpg")
        div(class="span4 offset1")
          br
          br
          h3(style='margin: 0px') Login
          if(foo=='1')
            p(style='color: #B22222') Error: Username or password not correct!!
          br
          form(role='form', action="/login",method="post", style='max-width: 300px;')
            .form-group
              input.form-control(type='text', name="email", placeholder='Enter Username')
            .form-group
              input.form-control(type='password', name="password", placeholder='Password')
            button.btn.btn-default(type='submit') Submit
            &nbsp;
            a(href='/')
              button.btn.btn-primary(type="button") Cancel
    
    div(class="row-fluid footer")
         div(class="span12")
           br
           br
           p This work is licensed copy right "sarfraz.arshad@qubee.com.pk"  

        
// script(src='http://code.jquery.com/jquery.js')
//  script(src='/bootstrap.min.js')
