doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet",href="bootstrap_combined_no_icons.min.css")
    link(rel='stylesheet', href='style.css')
    script(src='jquery.js')
    script(src='bootstrap.js')
   // link(href='/bootstrap.min.css', rel='stylesheet', media='screen')
   // script(src='http://code.jquery.com/jquery.js')
   // script(src='/bootstrap.min.js')
  body
    div(class="navbar navbar-inverse navbar-fixed-top")
        div(class="navbar-inner")
          div(class="container")
            button(type="button",class="btn btn-navbar",data-toggle="collapse",data-target=".nav-collapse")
              span(class="icon-bar")
              span(class="icon-bar")
              span(class="icon-bar")

            a(class="brand",href="#") QubeeCon
            div(class="nav-collapse collapse",style="height: 0px")
              ul(class="nav")
                li
                  a(href="/") Home
                li(class='active')
                  a(href="/login") Login
                li
                  a(href="/register") Register
  .container
    h1 Login Page
    p.lead Please Login
    if(foo=='1')
      p(style='color: #B22222') Error: Username or password not correct!! 
    br
    form(role='form', action="/login",method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="email", placeholder='Enter Username')
      .form-group
        input.form-control(type='password', name="password", placeholder='Password')
      button.btn.btn-default(type='submit') Submit
      &nbsp;
      a(href='/')
        button.btn.btn-primary(type="button") Cancel
